<h1>ProMaSy</h1>

<p> This will be the login screen and will have the company id.  For now we will just choose which company through the admin panel </p>

<p><%= link_to "Login Company", companies_path() %></p>